<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="../../static/assets/img/LogoSvute_W.svg" type="image/svg" />
    <link rel="shortcut icon" href="../../static/assets/img/LogoSvute_W.svg" type="image/svg" />
    {% if title %}
    <title>{{ title }} - Sinh viên UTE</title>
    {% else %}
    <title>Sinh viên UTE - Svute.com</title>
    {% endif %}
    <meta property="og:image" content="../../static/assets/img/img33.jpg">
    <meta name="description"
        content="Cộng đồng chia sẻ tài liệu học tập, tài liệu kỹ thuật cơ khí, tài liệu kỹ thuật lập trình, cơ điện tử, tự động hóa,...">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="../../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../static/assets/css/post.css">
    <link rel="stylesheet" href="../../static/assets/css/codes.css">
    <link rel="stylesheet" href="../../static/assets/css/styles.css">
    <link rel="stylesheet" href="../../static/assets/codemirror/theme/blackboard.css">
    <link rel="stylesheet" href="../../static/assets/js/codemirror.css">
    <link rel="stylesheet" href="../../static/assets/codemirror/addon/dialog/dialog.css">
    <link rel="stylesheet" href="../../static/assets/codemirror/addon/display/fullscreen.css">
    <script src="../../static/assets/js/index.js"></script>
    <script src="../../static/assets/codemirror/addon/dialog/dialog.js"></script>
    <script src="../../static/assets/codemirror/addon/search/searchcursor.js"></script>
    <script src="../../static/assets/codemirror/addon/search/search.js"></script>
    <script src="../../static/assets/js/codemirror.js"></script>
    <script src="../../static/assets/codemirror/mode/{{code.syntax.name}}/{{code.syntax.name}}.js"></script>
    <script src="../../static/assets/codemirror/addon/display/fullscreen.js"></script>
    <script src="../../static/assets/js/jquery.min.js"></script>
    <script src="../../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/assets/js/bs-init.js"></script>
    <style>
        .CodeMirror {
            border: 1px solid #eee;
            height: auto !important;
        }
    </style>
</head>

<body>
    <div class="card" id="printarea">
        <div class="card-header"> {{code.title}} <span class="badge badge-light">Python</span>
            <div class="pull-right d-print-none">
                <a onclick="printDiv('printarea')" class="badge badge-info">In</a>
            </div>
        </div>
        <div class="card-body p-2">
            {{ form.csrf_token }}
            {{ form.sourceCode(class="codemirror-textarea") }}
            <p class="text-center p-0 mt-1 mb-0">Code được lưu <i class="fa fa-heart"></i> tại
                <a href="{{url_for('main.home')}}" target="_blank">Svute.com</a></p>
        </div>
    </div>
    <script>
        var code = $(".codemirror-textarea")[0];
        var editor = CodeMirror.fromTextArea(code, {
            lineNumbers: true,
            matchBrackets: true,
            theme: "blackboard",
            readOnly: true,
            styleActiveLine: true,
            mode: "{{code.syntax.name}}",
            extraKeys: {
                "Alt-F": "findPersistent",
                "F11": function (cm) {
                    cm.setOption("fullScreen", !cm.getOption("fullScreen"));
                },
                "Esc": function (cm) {
                    if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
                },
            },
            autoCloseBrackets: true,
        });
    </script>
    
</body>


</html>