{% extends "codes/layout.html"%}
{% block meta %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/assets/css/post.css">
<link rel="stylesheet" href="../../static/assets/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="../../static/assets/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/dialog/dialog.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/search/matchesonscrollbar.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/display/fullscreen.css">
<script src="../../static/assets/codemirror/lib/codemirror.js"></script>
<script src="../../static/assets/codemirror/mode/python/python.js"></script>
<script src="../../static/assets/codemirror/addon/mode/loadmode.js"></script>
<script src="../../static/assets/codemirror/mode/meta.js"></script>
<script src="../../static/assets/codemirror/addon/dialog/dialog.js"></script>
<script src="../../static/assets/codemirror/addon/search/searchcursor.js"></script>
<script src="../../static/assets/codemirror/addon/search/search.js"></script>
<script src="../../static/assets/codemirror/addon/scroll/annotatescrollbar.js"></script>
<script src="../../static/assets/codemirror/addon/search/matchesonscrollbar.js"></script>
<script src="../../static/assets/codemirror/addon/search/jump-to-line.js"></script>
<script src="../../static/assets/codemirror/addon/edit/closebrackets.js"></script>
<script src="../../static/assets/codemirror/addon/display/fullscreen.js"></script>
<link rel="stylesheet" href="../../static/assets/css/codes.css">
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form class="form-group" method="POST">
            <label class="font-weight-bold d-flex justify-content-between">
                <span>Paste mới </span>
            </label>
            {{ form.csrf_token }}
            {{ form.sourceCode(class="codemirror-textarea", style="margin-bot:20px") }}
            <span>Thiết lập Paste</span>
            <hr class="extra-margin">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="active">Tiêu đề:
                        <small class="text-muted">[tùy chọn]</small>
                    </label>
                    {{form.title(class="form-control", placeholder="Nhập tiêu đề vào đây")}}
                </div>
                <div class="form-group col-md-6">
                    <label class="active">Thư mục:
                        <small class="text-muted">[tùy chọn]</small>
                    </label>
                    <input type="text" class="form-control" disabled placeholder="Tính năng sắp ra mắt">
                </div>
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-bottom:10px">
                <label class="form-group active">Mô tả:
                    <small class="text-muted">[tùy chọn]</small>
                </label>
                {{form.description(class="form-control", placeholder="Mô tả ngắn gọn vào đây...", rows="5")}}
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-bottom:10px">
                <label class="form-group active">Chọn ngôn ngữ:
                    <small class="text-muted">[nếu là văn bản xin chọn Markdown]</small>
                </label>
                {{form.syntax(class="form-control")}}
                
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-top:20px">
                {{form.submit(class="btn btn-blue-grey darken-5 btn-block waves-effect waves-light")}}
            </div>

        </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div class="blog-aside">
    {% if user == current_user %}
    <div class="widget widget-post" style="margin-top:0px">
        <div class="card-header widget-title">
            <h3>Paste của bạn</h3>
        </div>
        <div class="widget-body">
            <ul class="list-group list-group-flush">
                {% for code in myCodes %}
                    <li class="list-group-item">
                        <i class="fa fa-paste blue-grey-text small"></i>
                        <a href="{{ url_for('codes.viewCode', slug=code.slug)}}">{{code.title}}</a>
                        <p>
                            <small class="text-muted"> <a href="#">{{code.syntax.name}}</a>  | <i class="fa fa-eye blue-grey-text"></i> 0 | {{code.date.strftime('%d-%m-%Y')}}</small>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    <div class="widget widget-post" style="margin-top:0px">
        <div class="card-header widget-title">
            <h3>Paste gần đây</h3>
        </div>
        <div class="widget-body">
            <ul class="list-group list-group-flush">
                {% for code in lastCodes %}
                    <li class="list-group-item">
                        <i class="fa fa-paste blue-grey-text small"></i>
                        <a href="{{ url_for('codes.viewCode', slug=code.slug)}}">{{code.title}}</a>
                        <p>
                            <small class="text-muted"> <a href="#">{{code.syntax.name}}</a>  | <i class="fa fa-eye blue-grey-text"></i> 0 | {{code.date.strftime('%d-%m-%Y')}}</small>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="../../static/assets/js/code.js"></script>
{% endblock %}