{% extends "codes/layout.html"%}
{% block meta %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/assets/css/post.css">
<link rel="stylesheet" href="../../static/assets/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="../../static/assets/js/codemirror.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/dialog/dialog.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/search/matchesonscrollbar.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/display/fullscreen.css">
<script src="../../static/assets/js/codemirror.js"></script>
<script src="../../static/assets/codemirror/addon/mode/loadmode.js"></script>
<script src="../../static/assets/codemirror/mode/meta.js"></script>
<script src="../../static/assets/codemirror/addon/dialog/dialog.js"></script>
<script src="../../static/assets/codemirror/addon/search/searchcursor.js"></script>
<script src="../../static/assets/codemirror/addon/search/search.js"></script>
<script src="../../static/assets/codemirror/addon/scroll/annotatescrollbar.js"></script>
<script src="../../static/assets/codemirror/addon/search/matchesonscrollbar.js"></script>
<script src="../../static/assets/codemirror/addon/search/jump-to-line.js"></script>
<script src="../../static/assets/codemirror/addon/edit/closebrackets.js"></script>
<script src="../../static/assets/codemirror/addon/display/fullscreen.js"></script>
<link rel="stylesheet" href="../../static/assets/css/codes.css">
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <form class="form-group" method="POST">
            <label class="font-weight-bold d-flex justify-content-between">
                <span>Paste mới </span>
            </label>
            {{ form.csrf_token }}
            {{ form.sourceCode(class="codemirror-textarea", style="margin-bot:20px") }}
            <span>Thiết lập Paste</span>
            <hr class="extra-margin">
            <div class="row">
                <div class="form-group col-md-6">
                    <label class="active">Tiêu đề:
                        <small class="text-muted">[tùy chọn]</small>
                    </label>
                    {{form.title(class="form-control", placeholder="Nhập tiêu đề vào đây")}}
                </div>
                <div class="form-group col-md-6">
                    <label class="active">Thư mục:
                        <small class="text-muted">[tùy chọn]</small>
                    </label>
                    <input type="text" class="form-control" disabled placeholder="Tính năng sắp ra mắt">
                </div>
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-bottom:10px">
                <label class="form-group active">Mô tả:
                    <small class="text-muted">[tùy chọn]</small>
                </label>
                {{form.description(class="form-control", placeholder="Mô tả ngắn gọn vào đây...", rows="5")}}
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-bottom:10px">
                <label class="form-group active">Chọn ngôn ngữ:
                    <small class="text-muted">[nếu là văn bản xin chọn Markdown]</small>
                </label>
                {{form.syntax(class="form-control")}}
                
            </div>
            <div class="row" style="padding-left:15px;padding-right:15px; margin-top:20px">
                {{form.submit(class="btn btn-blue-grey darken-5 btn-block waves-effect waves-light")}}
            </div>

        </form>
    </div>
</div>
{% endblock %}
{% block sidebar %}
{% include '/codes/_sidebar.html'%}
{% endblock %}
{% block js %}
<script src="../../static/assets/js/code.js"></script>
{% endblock %}