{% extends "layout_nsb.html"%}
{% block meta %}{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/assets/css/post.css">
<link rel="stylesheet" href="../../static/assets/css/codes.css">
<link rel="stylesheet" href="../../static/assets/codemirror/theme/blackboard.css">
<link rel="stylesheet" href="../../static/assets/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/dialog/dialog.css">
<link rel="stylesheet" href="../../static/assets/codemirror/addon/display/fullscreen.css">
<script src="../../static/assets/codemirror/addon/dialog/dialog.js"></script>
<script src="../../static/assets/codemirror/addon/search/searchcursor.js"></script>
<script src="../../static/assets/codemirror/addon/search/search.js"></script>
<script src="../../static/assets/codemirror/lib/codemirror.js"></script>
<script src="../../static/assets/codemirror/mode/{{code.syntax.name}}/{{code.syntax.name}}.js"></script>
<script src="../../static/assets/codemirror/addon/display/fullscreen.js"></script>
{% endblock %}
{% block content %}
<div class="card">
    <div class="card-body">
        <div class="media">
            <img class="mr-3 rounded-circle img-fluid" src="{{code.author.image_file}}" alt="avatar"
                style="height: 60px">
            <div class="media-body">
                <h5 class="mt-0">
                    <i class="fa fa-paste blue-grey-text small"></i> {{code.title}}
                </h5>
                <p class="text-muted small"><i class="fa fa-user text-primary"></i>
                    <a href="/nguoidung/{{code.author.username}}"> {{code.author.fullname}}</a>
                    <i class="fa fa-eye ml-2 text-secondary" title="Lượt xem"></i> 0
                    <i class="fa fa-calendar ml-2 text-success" title="Đăng lúc"></i> {{code.date.strftime('%d-%m-%Y')}}
            </div>
            {% if current_user.is_authenticated %}
            {% if current_user == code.author %}
            <a href="{{url_for('codes.editCode', slug=code.slug)}}" class="badge badge-info mr-2"><i class="fa fa-edit"></i> Sửa </a>
            <a href="{{url_for('codes.deleteCode', slug=code.slug)}}" class="badge badge-danger" onclick="return confirm('Bạn có thực sự muốn xóa nó?')"><i
                    class="fa fa-trash"></i> Xóa </a>
            {% else %}
            {% if current_user.role.name == 'admin' %}
            <a href="{{url_for('codes.editCode', slug=code.slug)}}" class="badge badge-info mr-2"><i class="fa fa-edit"></i> Sửa </a>
            <a href="{{url_for('codes.deleteCode', slug=code.slug)}}" class="badge badge-danger" onclick="return confirm('Bạn có thực sự muốn xóa nó?')"><i
                class="fa fa-trash"></i> Xóa </a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="card mt-2" id="printarea">
    <div class="card-header d-print-none">
        <span class="badge badge-light">{{code.syntax.name}}</span>
        <div class="pull-right">
            <a class="badge badge-warning" data-toggle="modal" data-target="#shareModal">Chia sẻ</a>
            <a class="badge badge-success" data-toggle="modal" data-target="#embedModal">Nhúng</a>
        </div>
    </div>
    <div class="card-body" style="padding:0px">
        {{ form.sourceCode(class="codemirror-textarea") }}
    </div>
</div>
<div class="card mt-2">
    <div class="card-header">Mô tả</div>
    <div class="card-body">
        <p>
            {% if code.description == '' %}
            Không có mô tả
            {% else %}
            {{code.description}}
            {% endif %}
        </p>
    </div>
</div>
<div class="form-group mt-3 mb-3 d-print-none">
    <small class="text-muted">Bạn có thể gửi đường link này để chia sẻ với bạn bè</small>
    <div class="input-group">
        <div class="input-group-prepend">
            <button class="btn btn-md btn-blue-grey m-0 px-3" type="button"
                onclick="copyToClip('https://svute.com/code/{{code.slug}}','copy_link_response')">Sao chép</button>
        </div>
        <input type="text" class="form-control" value="https://svute.com/code/{{code.slug}}" disabled>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="embedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Nhúng</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <textarea class="form-control"
                    id="embed_code"><iframe src="https://svute.com/nhung/{{code.slug}}" style="border:none;width:100%;min-height:400px;"></iframe></textarea>
                <span id="embed_response" class="text-success"></span>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-success btn-sm"
                    onclick="copyToClip(document.getElementById('embed_code').value,'embed_response');">Sao
                    chép</button>
                <button class="btn btn-danger btn-sm" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
<script>
    var code = $(".codemirror-textarea")[0];
    var editor = CodeMirror.fromTextArea(code, {
        lineNumbers: true,
        matchBrackets: true,
        theme: "blackboard",
        readOnly: true,
        styleActiveLine: true,
        mode: "{{code.syntax.name}}",
        extraKeys: {
            "Alt-F": "findPersistent",
            "F11": function (cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function (cm) {
                if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
            },
        },
        autoCloseBrackets: true,
    });
</script>
{% endblock %}