body {
  background: #fafafa;
}

img {
max-width:100%;
max-height:100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.card-header {
  background-color: #023859;
  background-image: linear-gradient(#023859,#02456c);
  color: #fff
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 1em;
  font-family: "segoe ui","trebuchet MS","Lucida Sans Unicode","Lucida Sans",sans-serif !important;
  font-weight: 600
}

.navbar {
  background: #023859;
  background-image: linear-gradient(#023859,#02456c);
  padding: .2rem 1rem
}

.navbar.navbar-dark .breadcrumb .nav-item.active>.nav-link,.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link {
  border-radius: 3px
}

.nav-link {
  margin: 0 6px
}

.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  font-size: 1em;
  font-family: "segoe ui","trebuchet MS","Lucida Sans Unicode","Lucida Sans",sans-serif;
  font-weight: 600
}

footer.page-footer {
  background-color: #78909c!important;
  background-image: linear-gradient(#023859,#02456c);
  margin-top: 2rem
}
@media only screen and (max-device-width: 641px) {
  .recent_paste_container {
      padding-top:10px
  }
}

footer.page-footer {
  bottom: 0;
  color: #fff
}

footer.page-footer .container-fluid {
  width: auto
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6)
}

footer.page-footer a {
  color: #fff
}