{% extends "layout.html"%}
{% block head %}
<meta name="theme-color" content="#2e2e2e">
<link rel="stylesheet" href="../../static/assets/css/random.css">
{% endblock %}


{% block content %}
<textarea id="clipboard">.</textarea>
<canvas id="canvas"></canvas>
<!--Templates-->
<div id="templates" style="display: none">
    <!--List Item Template-->
    <ListItem>
        <div class="list-item labeled-action">
            <div class="content">Dữ liệu mẫu</div>
            <button class="remove-wedge">
                <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
        </div>
    </ListItem>
</div>
{% endblock %}
{% block sidebar %}
<div class="right-pane">
    <div class="controls">
        <div class="labeled-action name-entry">
            <input id="wedge-input" class="content" placeholder="Nhập giá trị" />
            <button id="add-wedge">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div id="wedge-list">
    </div>
    <div id="buttons">
        <button id="clear-list" class="button stock remove-wedge">Xóa</button>
        <button id="copy-link" class="button stock remove-wedge">Sao chép</button>
    </div>
    <div id="spin-container">
        <button id="spin-wheel" class="button stock">QUAY</button>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="../../static/assets/js/random.js"></script>
{% endblock %}